/* You can add global styles to this file, and also import other style files */
.highlight-success {
  background-color: green;
}
.highlight-warning {
  background-color: yellow;
}
.highlight-danger {
  background-color: red;
}
